@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.gradient-text{
 background: linear-gradient(to right , #a855f7,#ec4899,#eab308);
 background-clip: text;
}